body {background-color: coral;}

#buttons {
  width: fit-content;
  margin: auto;
  height: fit-content;
}
#buttons button {
  height: 300px;
  background-color: #efefef;
  border: 4px solid black;
}
#buttons button:hover {
  background-color: darkslategray;
  cursor: pointer;
  border: 4px solid grey;
}
#buttons img {width: 300px;}

.played:hover {background-color: #efefef!important;}
.done:hover {border: 4px solid black!important;}
.userGuess {background-color: lightgreen!important;}
.compGuess {background-color: yellow!important;}
.tie {background-color: red!important;}

#replay {display: none;}